# Dependencies
node_modules/
**/node_modules/

# Environments & Service Accounts
.env
*.env
*.env.*
**/firebase-service-account.json

# Build outputs
dist/
**/dist/
build/
**/build/

# System & Logs
.DS_Store
Thumbs.db
*.log
npm-debug.log*

